<div class="page-header">
    <h1>Create New Poll</h1>
</div>


<form role='form' ng-submit='createPoll()'>
    <div class='form-group'>
        <label for='pollQuestion'>Question</label>
        <input type='text' id='pollQuestion' ng-model='poll.question' class='form-control' placeholder="Enter new poll"/>
    </div>
    
    <div class='from-group'>
        <label>Choices</label>
        <div ng-repeat='choice in poll.choices'>
            <input type='text' ng-model='choice.text' class='form-control' placeholder="Enter choice here" required/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="addChoice()">
                <span class="glyphicon glyphicon-plus"></span>
                Add another
            </button>
        </div>
        <div>
            <button class="btn btn-primary pull-right" type="submit">Create Poll</button>
        </div>
    </div>
</form>